<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>{{test}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link href="static/css/style.css" rel="stylesheet">-->
    </head>
    <body>
    <form>
        <input type="number" name="input_num" value="20" id="num_1_1">
        <input type="button" name="send" value="end_send" id="end_submit">
    </form>
    <p id="end_result">result1</p>
    <hr>
    <form>
        <input type="number" name="input_num" value="10" id="num_2_1">
        <input type="number" name="input_num" value="20" id="num_2_2">
        <input type="button" name="send" value="span_send" id="span_submit">
    </form>
    <p id="span_result">result2</p>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/main.js"></script>
    </body>
</html>